#layout {
  position: relative;
  box-sizing: border-box;
  padding: 20px 0;
  margin: 0;
  background-color: rgba(0,0,0,0.1);
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.box {
  width: 630px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 120px;
}

.panel {
  height: 300px;
  padding-top: 80px;
}

.background {
  background-image: url('../../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 50%;
  z-index: -1;
}
