@import '../../common/theme.less';

#layout {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 30px 20%;
  background-color: @white;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
