// style.scss

$class-prefix: "todo";

html, body {
  margin: 0;
  padding: 0;
}

// .todo-title {
//   font-weight: bold;
// }

.#{$class-prefix} {
  &-title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
  }
  
  &-block {
    padding: 30px;
    border: 1px solid #000;
  }

  &-list {
    margin: 10px;
    padding: 30px;
    border: 3px solid #eee;
    border-radius: 10px;
    list-style: none;
  }

  &-item {
    margin: 5px;
    padding: 5px;
    border: 3px solid #000;
    background-color: #eee;   
  }

  &-done {
    text-decoration: line-through;
  }
}