@import "../../utils/style.scss";

.listModule {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;

  & .title, .list {
    margin: 0;
    padding: 0 5px;
    list-style: none;
    width: 100%;
    box-sizing: border-box;

    & li {
      display: flex;
      padding: 10px 0;
      width: 100%;
      border-bottom: 1px solid #eee;

      &>div {
        text-align: center;
        word-break: break-all;
      }

      &>div:nth-child(1) {
        width: 40%;
      }

      &>div:nth-child(2) {
        width: 30%;
      }

      &>div:nth-child(3) {
        width: 30%;
        display: flex;
        justify-content: center;
      }
    }
  }

  & .title {
    font-weight: bold;
  }
}

.emptyList {
  text-align: center;
  color: #888;
  width: 100%;
}
