.editLayout {
  overflow: auto;
  padding-bottom: 108px;

  .main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    .sub {
      box-sizing: border-box;
      margin: 0;
      padding:  0;
      margin-left: 50px;
    }

    :global {
      .ant-timeline-item {
        height: 63px;
      }
    }

    .warning {
      font-size: 0.8rem;
      font-style: italic;
    }
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid @primary-color;
    padding: 10px 16px;
    text-align: left;
    background-color: #fff;
  }
}
