// style.scss

$class-prefix: "todo";
$theme-color: #5b7778;
$assist-color: #248888;


.#{$class-prefix} {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Times New Roman", Georgia, Serif;

  &-header {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
  }

  &-footer {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &-main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;

    &-todolist {
      margin: 0;
      padding: 0;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-contents: flex-start;

      &-input {
        outline: none;
        margin: 0;
        padding: 3%;
        line-height: 30px;
        width: 94%;
        word-break: break-all;
        font-size: 1rem;
        border: 0px solid #fff;
        border-bottom: 2px solid $theme-color;

        &:focus {

        }
      }

      &-list {
        margin: 10px;
        padding: 0;
        padding-left: 0px;
        list-style: none;
        width: 100%;
      }

      &-item {
        display: flex;
        margin: 10px 0;
        padding: 2%;
        border-bottom: 1px solid #eee;
        width: 96%;

        &-text {
          width: 80%;
          font-size: 1.4rem;
          word-break: break-all;
        }

        &-operate {
          display: flex;
          justify-content: space-between;
          width: 20%;

          & div {
            margin: 0 5%;
            width: 100%;
            background-color: #fff;
            height: 20px;
            line-height: 20px;
            border: 1px solid $theme-color;
            border-radius: 3px;
            font-size: 0.8px;
            text-align: center;
            cursor: pointer;
          }
        }
      }

      &-done {
        // background-color: #eee;
        color: #888;
        text-decoration: line-through;
      }

      &-operate {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        line-height: 20px;

        & div {
          margin-left: 3%;
          width: 20%;
          background-color: #fff;
          border: 1px solid $theme-color;
          border-radius: 3px;
          font-size: 0.8px;
          text-align: center;
          cursor: pointer;

          &:hover {
            color: #fff;
            background-color: $theme-color;
          }
        }
      }
    }

    &-calendar {
      margin: 0;
      padding: 0;
      width: 30%;
      list-style: none;

      &-item {
        margin: 10px;
        padding: 0 3%;
        width: 80%;
        line-height: 30px;
        border: 2px solid #fff;
        display: flex;
        justify-content: space-between;

        & div:nth-child(2n-1) {
          width: 40%;
          font-weight: bold;
          color: #8B0016;
          text-align: center
        }

        & div:nth-child(2) {
          width: 20%;
          cursor: pointer;
        }
      }

      &-focus {
        border: 2px solid $theme-color;
        border-radius: 5px;
      }
    }
  }
}