// style.scss

$class-prefix: "todo";
$theme-color: #5b7778;
$assist-color: #248888;

.#{$class-prefix} {

  &-input {
    outline: none;
    margin: 0;
    padding: 3%;
    line-height: 30px;
    width: 100%;
    word-break: break-all;
    font-size: 1rem;
    border: 0px solid #fff;
    border-bottom: 2px solid $theme-color;
    box-sizing: border-box;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  
  &-item {
    display: flex;
    margin: 0;
    padding: 2%;
    border-bottom: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;

    &-done {
      text-decoration: line-through;
      color: #888;
    }
  }
}