.layout {
  padding: 0 25%;

  .empty {
    text-align: center;

    .title {
      color: @primary-color;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 20px;
    }

    .tips {
      color: @gray;
      font-size: 14px;
      margin-top: 20px;
    }
  }
}
