@prefixCls: medo-item-box;

.@{prefixCls} {

  &-layout, &-sub {
    display: flex;
    justify-content: flex-start;
  }

  &-sub {
    margin-left: 8%;
  }

  &-title-index, &-prefix {
    margin: 6px 0;
    text-align: right;
  }

  &-prefix {
    margin-right: 10px;

    &-work {
      color: @primary-color;
    }
  }

  &-input {
    width: 100%;
  }

  &-options {
    width: 100%;
    text-align: center;
    padding: 3px;
    margin-top: 5px;
    font-size: 16px;

    &-icon {
      margin: 0 5px;
      color: @dark-gray;
      transition: 0.4s all;

      &:hover {
        color: @primary-color;
      }
    }
  }

  &-add {
    text-align: center;
    padding: 3px;
    margin: 5px 0;
    border-radius: 5px;
    color: @primary-color;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      background-color: @primary-color;
      color: @white;
    }
  }

  &-bold {
    font-weight: bold;
  }
}
